html,
body {
  height: 100%;
  margin: 2%;
}

* {
  box-sizing: border-box;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

.filter-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  width: 30%;
  margin: 1%;
  padding: 2% 10%;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
}

.student-cards {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
}

.photo-container {
  width: 20%;
  padding: 0 1%;
}

.text-container {
  width: 70%;
  padding: 0 1%;
}

.page-btn {
  margin: 2.5%;
}

div {
  margin: 1% 0;
}

img {
  width: 50px;
  height: 50px;
}
